#heading {
  margin-top: 5vh;
  width: 90%;
  text-align: center;
  font-size: 2vmax;
  padding-bottom: 5vh;
}

.indi {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.indi p {
  font-size: 1.5vmax;
}

.indi a:visited {
  color: blue;
}

.ii {
  width: 22vmin;
  height: 40vmin;
  margin-left: 5vw;
}
